name: 'Publish Editor App'

on:
  push:
    branches: [ master ]

env:
  CI_REPOSITORY_URL: https://github.com/${{ github.repository }}
  CI_COMMIT_REF_NAME: ${{ github.ref }}
  CI_COMMIT_SHA: ${{ github.sha }}
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: 1

jobs:
  build:
    strategy:
      matrix: 
        os: [ 'windows', 'linux' ]
        include:
          - os: windows
            runtime: win-x64
            runs-on: windows-latest
            
          - os: linux
            runtime: linux-x64
            runs-on: ubuntu-latest
            
    runs-on: ${{ matrix.runs-on }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0 # avoid shallow clone so nbgv can do its work.

      - name: Setup .NET Core
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: '6.0.x'

      - name: Setup NodeJS 14
        uses: actions/setup-node@v2
        with:
          node-version: '14'

      - name: Setup Yarn
        run: npm install --global yarn

      - name: Publish UI Project
        shell: bash
        run: dotnet publish -o ./publish -r ${{ matrix.runtime }} -c Release src/RocketUI.Editor/RocketUI.Editor.csproj

      - name: Upload Artifacts
        uses: actions/upload-artifact@v1
        with:
          name: RocketUI.Editor-${{ matrix.os }}
          path: ./publish
